$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;

@mixin MediaQuery($type) {
    @if $type == $xs {
        @media screen and (max-width: $xs) {
            @content;
        }
    } @else if $type == $sm {
        @media screen and (max-width: $sm) {
            @content;
        }
    } @else if $type == $md {
        @media screen and (max-width: $md) {
            @content;
        }
    } @else {
        @media screen and (max-width: $lg) {
            @content;
        }
    }
}
