* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: overlay;
}

#loading-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2022;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}
@keyframes animloader {
  0% {
    border-color: white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0)
      rgba(255, 255, 255, 0);
  }
  33% {
    border-color: white white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  66% {
    border-color: white white white rgba(255, 255, 255, 0);
  }
  100% {
    border-color: white white white white;
  }
}

.table thead {
  width: calc(100% - 1rem);
  table-layout: fixed;
  display: table;
}
.table thead tr th {
  border-bottom: none;
  font-weight: normal;
}
.table tbody {
  width: 100%;
  height: 20rem;
  display: block;
  overflow: scroll;
}
.table tbody tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.table tbody tr td {
  text-align: center;
  vertical-align: middle;
}
.table tbody tr td img {
  height: 5rem;
  object-fit: contain;
}
