header {
    background-color: $background-color-01;
    h3 {
        margin-bottom: 0;
        color: white;
        font-size: 2rem;
        font-weight: 700;
        // font-family: $logo-font;
    }

    button {
        position: relative;
        z-index: 10;
        i {
            color: white;
            font-size: 2rem;
        }
        span {
            width: 100%;
            display: inline-block;
            position: absolute;
            top: 45%;
            left: 0;
            color: $background-color-01;
            font-size: 0.75rem;
            font-weight: 900;
        }
    }
    // .switch {
    //     width: 1.25rem;
    //     height: 2.25rem;
    //     position: relative;
    //     margin-left: 0.75rem;
    //     border-radius: 2rem;
    //     box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    // }
    // .switch-btn {
    //     width: 1rem;
    //     height: 1rem;
    //     position: absolute;
    //     margin: 0.125rem;
    //     border-radius: 100%;
    //     background-color: white;
    // }
}
